{% extends 'base.html.twig' %}

{% block title %}Validation | Éco-Service{% endblock %}

{% block content %}
    <div class="inner-banner has-base-color-overlay text-center" style="background: url({{ asset('theme/images/background/14.jpg') }});">
        <div class="container">
            <div class="box">
                <h1>Vérifier ma commande</h1>
            </div>
        </div>
    </div>
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="{{ path('hub') }}">Accueil</a>
                    </li>
                    <li>
                        Vérifier ma commande
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section class="cart-section sec-padd-top">
        <div class="container">
            <div class="cart-outer">
                <div class="table-outer">
                    <table class="cart-table">
                        <thead class="cart-header">
                        <tr>
                            <th>&nbsp;</th>
                            <th class="prod-column">Produit</th>
                            <th>&nbsp;</th>
                            <th>Prix unitaire</th>
                            <th>Quantité</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% for product in cart %}
                            <tr>
                                <td>&nbsp;</td>
                                <td style="text-align: center"><h4 class="prod-title padd-top-20" ><a href="{{ path('individual_product', {id: product.product.id}) }}">{{product.product.label}} </a></h4></td>
                                <td>&nbsp;</td>
                                <td class="price">{{ product.product.price }}€</td>
                                <td class="qty">{{ product.quantity }}</td>
                                <td class="sub-total"><strong>{{ product.product.price * product.quantity }}€</strong></td>
                            </tr>
                            {% set total = total + product.product.price * product.quantity %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <h3 style="color: #8dc63f; font-weight: 700; font-family: 'Open Sans', sans-serif; margin-top: 20px">TOTAL À PAYER : {{ total }}€</h3>
                </div>
            </div>
        </div>
    </section>
    <div style="margin-top: 30px;margin-left: 60px;margin-bottom: 50px">
        {{ form_start(form, {action:path('individual_purchase_validation')}) }}
        <label for="purchase_address">
            <div style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px;">
                <a class="text-link" href="{{ path('app_account_address_new') }}"><i class="fas fa-plus-circle fa-2x" style="color: #8dc63f;" onmouseover="this.style.color='#000000';" onmouseout="this.style.color='#8dc63f';"></i>&nbsp;&nbsp;&nbsp;Ajouter une adresse</a>
            </div>
            Choisissez votre adresse de livraison
        </label>
        {{ form_label(form.address) }}
        {{ form_end(form) }}
        {% set formHtml %}
            {{ form_start(form, {action:path('individual_purchase_validation')}) }}
            {{ form_end(form) }}
        {% endset %}
        {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
    </div>
{% endblock %}
